<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--这个namespace=>命名空间
    必须是Mapper接口的全类名
    -->
<mapper namespace="org.ezplatform.mybatis.mapper.E20230526LockMapper">

    <!--    /**
    * 根据lock的id查询lock信息
    */
    public Lock queryLockById(Integer id);-->
    <select id="queryLockById" resultType="org.ezplatform.mybatis.pojo.Lock">
        select `id`,`name` from t_lock where id = #{id}
    </select>

</mapper>