<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/util
                            http://www.springframework.org/schema/util/spring-util-4.0.xsd
                        ">


    <!--  需要添加这个前缀 xmlns:p="http://www.springframework.org/schema/p"
        p名称空间书写规则:
            p:属性名="值"
        p名称空间,是通过调用set方法赋值属性
    -->
    <bean class="org.example.ioc.pojo.Person" id="p6"
          p:id="6" p:name="p名称空间" p:age="18" p:phone="120"/>


    <!--
        定义一个集合去引用
    -->
    <bean id="p13" class="org.example.ioc.pojo.Person">
        <property name="id" value="13"></property>
        <property name="list" ref="list01" />
    </bean>
    <util:list id="list01">
        <value>items1</value>
        <value>items2</value>
        <value>items3</value>
    </util:list>
</beans>
